# ark model configs
MODEL_NAME=
API_KEY=
API_...n
# qwen model config example
# MODEL_NAME=
# API_KEY=*** API_URL=

# Tavily search API config
TAVILY_API_KEY=*** langsmith tracing config
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANG...n
# Offline local model config
OFFLINE_KEY=
OFFLINE_URL=
OFFLINE_MODEL=

# Online search API config
ONLINE_KEY=
ONLINE_URL=
ONLINE_MODEL=

# Image generation config
IMAGE_GEN_BASE_URL=
IMAGE_GEN_API_KEY=
IMAG...n
# Video generation config
VIDEO_GEN_BASE_URL=
VIDEO_GEN_API_KEY=
VIDE...n
# Speech synthesis config
SPEECH_BASE_URL=
SPEECH_API_KEY=
SPEE...n
# TTS service config
TTS_APPID=
TTS_ACCESS_TOKEN=***# Embedding model config
EMBED_BASE_URL=
EMBED_MODEL=
